<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webshop - Create Product</title>
</head>

<body>
    <h1>Create product</h1>

    <form action="/products/create" method="post">
        <input type="text" required name="name" placeholder="Name">
        <input type="text" required name="description" placeholder="Description">
        <input type="number" required step="0.01" name="" placeholder="0.0">
        <button type="submit">Create</button>
    </form>
</body>

</html>