table td {

    padding-right: 10px;
}

.crop {

    max-width:650px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

h1 {

    color: rgb(74, 175, 71);
}

nav#navbar {

    margin-bottom: 2em;
}

#priceInput {
    
    min-width: 200px;

}

#navbar {
    box-shadow: 0px 0px 11px 4px #464646;
}

table thead #priceTableHeader {
    width: 90px;
}